<header class="site-header">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    {%- if titles_size > 0 -%}
      <nav>
          <ul>
            {% for nav in site.data.navigation.main %}
              {% if nav.subcategories != null %}
                <li>
                  <a href="{{ site.url }}{{ nav.url }}">{{ nav.title }} ▼</a>
                  <ul>
                  {% for subcategory in nav.subcategories %}
                    <li><a href="{{ site.url }}{{ subcategory.url }}">{{ subcategory.title }}</a></li>
                  {% endfor %}
                  </ul>
                </li>
              {% elsif nav.title == page.title %}
                 <li class="active">
                   <a href="{{ nav.url }}">{{ nav.title }}</a>
                 </li>
              {% else %} 
                <li>
                  <a href="{{ site.url }}{{ nav.url }}">{{ nav.title }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </nav> 
    {%- endif -%}
</header>
